body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}


.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-around;
    
}

.logo {
    font-size: 24px;
    color: #f9faf8
}

.hero {
    display: flex;
    background-color: #1f2937;
    flex: 1 1 auto;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    
}

.test {
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    gap: 16px;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    
}

.secondary, li {
    font-size: 18px;
    color: #e5e7eb;
    
}


img {
    width: 300px;
    height: 200px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 60px;
    margin: 80px;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    
}

.packs {
    display: flex;
    flex-flow: column wrap;
}

.lmao {
    display: flex;
    gap: 16px;
    padding: 8px;
    text-align: center;
}

.random {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px;
    margin: 80px;
    gap: 8px;
    background-color: #e5e7eb;
    flex: 1 1 0;
}

.inspire {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.ind {
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    font-weight: 700;
    font-size: 20px;
}

.lmfao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 1000px;
    background-color: #3882f6;
    flex: 1 1 auto;
    color: white;
    border-radius: 10px;
    margin: 40px;
}

.text {
    font-weight: 700;
    font-size: 24px;
}

button {
    border-radius: 10px;
    height: 35px;
    width: 115px;
    background-color: #3882f6;
    color: white;
}